/*Тело сайта*/
body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

body.lock {
overflow: hidden;
}

/*ШАПКА САЙТА*/
/* Общие стили для header */
header {
  display: flex;
  position: fixed;
  justify-content: space-between;
  background-color: rgba(150, 150, 150, 0.5);
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0px 40px;
  z-index: 2;
}

.logo{
  max-width: 250px;
  max-height: 76px;
  cursor: pointer;
  z-index: 3;
}

.logo img {
  width: 100%;
  max-width: 250px;
  max-height: 76px;
  cursor: pointer;
  z-index: 3;
}

.menu {
  display: none;
}

.menu.active {
  display: flex;
  position: absolute;
  top: 80px;
  right: 20px;
  background-color: #ffffff;
  padding: 10px;
  border: 1px solid #424242;
  border-radius: 5px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}

.menu-container {
  font-size: 16px;
  color: #424242;
  align-items:center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.menu_authorization {
  border-radius: 5px;
  background-color: #724321;
  color: #ffffff;
  cursor: pointer;
}

.menu_personal {
  border-radius: 5px;
  background-color: #724321;
  color: #ffffff;
  cursor: pointer;
}

.menu_FindMentor {
  border-radius: 5px;
  background-color: #724321;
  color: #ffffff;
  cursor: pointer;
}

.menu_Mentoring {
  border-radius: 5px;
  background-color: #724321;
  color: #ffffff;
  cursor: pointer;
}

.menu_exit {
  border-radius: 5px;
  background-color: #724321;
  color: #ffffff;
  cursor: pointer;
  width: 50%;
  height: 50%;
  text-align: center;
}

.menu-container a {
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}

.menu-container a:hover {
  background-color: rgba(114, 73, 33, 0.5);
}

.burger {
  display: block;
  position: relative;
  width: 30px;
  height: 20px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 3;
}

.burger:before,
.burger:after {
content: '';
background-color: #000;
position: absolute;
width: 100%;
height: 2px;
transition: transform 0.3s ease-out;
}

.burger:before {
  top: 0px;
}

.burger:after {
  bottom: 0px;
}

.burger span{
  position: absolute;
  background-color: #000;
  left: 0;
  width: 100%;
  height: 2px;
  top: 9px;
  transition: transform 0.3s ease-out;
}

.burger.active:before {
transform: rotate(45deg);
top: 9px;
}

.burger.active:after {
  transform: rotate(-45deg);
  bottom: 9px;
}

.burger.active span {
  transform: scale(0);
}

/* Для экранов шириной от 1920px */
@media screen and (min-width: 1920px) {
  .burger {
    display: none;
  }}
  
  /* Для экранов шириной до 768px */
  @media (max-width: 768px) {
    /* Убираем padding у header */
    header {
      padding: 0px 40px;
    }
  
    /* Уменьшаем высоту логотипа */
    .logo img {
      max-height: 40px;
    }
  
    /* Уменьшаем размер и отступы у пунктов меню */
    .menu a {
      font-size: 14px;
      padding: 5px 10px;
    }
  }
  
  /* Для экранов шириной от 768px до 1024px */
  @media (min-width: 768px) and (max-width: 1024px) {
    /* Уменьшаем высоту логотипа */
    .logo img {
      max-height: 60px;
    }
  
    /* Уменьшаем размер и отступы у пунктов меню */
    .menu a {
      font-size: 14px;
      padding: 5px 10px;
    }
  }
  
  /* Для экранов шириной от 1024px */
  @media (min-width: 1024px) {
    /* Возвращаем исходные размеры у логотипа и бургера */
    .logo img {
      max-width: 250px;
      max-height: 76px;
    }
  
    .burger {
      height: 20px;
    }
  }


/*ОСНОВНАЯ ЧАСТЬ САЙТА*/
.main {
  padding-top: 210px;
  padding-bottom: 165px;
  text-align: left;
  background-color: #b8bc99;
}

.main_content {
  max-width: 1200px;
  margin: 0px 70px;
  text-align: left;
}

.main_content h1 {
  font-size: 64px;
  margin-bottom: 20px;
  color: #424242;
}

.main_content p {
  font-size: 20px;
  line-height: 1.5;
  color: #424242;
  padding-top: 41px;
}

/* Медиа-запросы для адаптивности */
@media screen and (max-width: 768px) {
  .header {
    flex-wrap: wrap;
    justify-content: center;
  }

  .logo {
    margin-bottom: 20px;
  }

  nav {
    margin-top: 20px;
    text-align: center;
  }

  nav li {
    margin-right: 10px;
    margin-bottom: 10px;
  }

  .main_content h1 {
    font-size: 36px;
  }

  .main_content p {
    font-size: 18px;
  }
}

@media screen and (max-width: 480px) {
  .main_content h1 {
    font-size: 24px;
  }

  .main_content p {
    font-size: 16px;
  }
}


/*УСЛУГИ*/
.services {
  padding: 30px 0px 210px;
}

.content {
  margin: 0px 40px;
}

.content_container {
  display: flex;
  flex-wrap: wrap;
}

.content_column {
  width: 25%;
  max-height: 700px;
  padding: 20px;
  box-sizing: border-box;
  overflow: hidden;
}

/* Стиль для картинки */
.content_column img {
  max-height: 100%;
  max-width: 100%;
  object-fit: scale-down;
}

/* Стиль для заголовка */
.content_column h2 {
  line-height: 1.5;
  color: #424242;
  text-align: justify;
  margin: 20px 0px 15px;
}

/* Стиль для текста */
.content_column p {
  line-height: 1.5;
  color: #424242;
  text-align: justify;
  margin: 17px 0px 25px;
}

/* Стиль для кнопки */
.content_column button {
  background-color: #724321;
  color: white;
  border: none;
  padding: 10px;
  text-align: center;
  font-size: 16px;
  margin: 10px 0;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}

.content_column button:hover {
  background-color: rgba(114, 67, 33, 0.5);
}

/* Медиазапрос для изменения стиля элементов на экранах шириной меньше 768px */
@media screen and (max-width: 768px) {
  .content_container {
    display: flex;
    flex-wrap: wrap;
  }

  .content_column {
    width: 50%;
  }
}

button {
  color: #fff;
  background-color: #724321;
  width: 120px;
  height: 40px;
  border: #724321;
  transition: background-color 0.3s ease-in-out;
}

.button:hover {
  background-color: #4b2911(0, 0%, 59%, 0.5);
}


/*КАК ЭТО РАБОТАЕТ*/
/* Общие стили */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Стили для блока "Как это работает" */
.howitswork {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background-color: #b8bc99;
  padding: 210px 0px 150px;
  max-width: 1960px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.howitswork_column {
  flex-basis: 30%;
  margin: 0px 15px;
  text-align: center;
}

.howitswork_column img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

.howitswork_column h2 {
  font-size: 24px;
  margin-top: 20px;
  color: #424242;
}

.howitswork_column p {
  font-size: 16px;
  line-height: 1.5;
  margin-top: 10px;
  color: #424242;
}

@media (max-width: 767px) {
  .howitswork_column {
    flex-basis: 100%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .howitswork_column {
    flex-basis: 47%;
  }
}


/*РЕПЕТИТОРЫ*/
.mentors {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 150px 0px 135px;
}

.mentors_content {
  text-align: center;
  padding: 0px 0px 105px;

}

.mentors_content h2 {
  font-size: 42px;
  margin-bottom: 20px;
  color: #424242;
}

.mentors_content p {
  font-size: 24px;
  margin: 0;
  color: #424242;
}

@media screen and (max-width: 768px) {
  .mentors_content {
    padding: 10px;
  }

  .mentors_content h2 {
    font-size: 32px;
  }

  .mentors_content p {
    font-size: 20px;
  }
}


.mentors_info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.mentor {
  width: 50%;
  padding: 10px;
  text-align: center;
}

.mentor img {
  width: 100%;
  max-width: 200px;
  height: auto;
  border-radius: 50%;
}

.mentor h2 {
  font-size: 24px;
  margin: 0;
  padding: 5px;
  color: #424242;
}

.mentor p {
  font-size: 14px;
  margin: 0;
  padding: 5px;
  color: #424242;
}

@media screen and (min-width: 768px) {
  .mentor {
    width: 25%;
  }
}


/*о нас*/
.about {
  padding: 90px 0px 150px;
  background-color: #b8bc99;
}

.question {
  text-align: center;
  margin-top: 50px;
}

.question h2 {
  font-size: 42px;
  text-align: center;
  margin-bottom: 40px;
  color: #424242;
}

.advantages {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0px 90px 0px;
}

.column {
  flex-basis: calc(50% - 10px);
}

.container {
  display: flex;
  align-items: center;
  margin: 40px 0px 40px;
}

.container img {
  margin-right: 20px;
  /* задаем отступ между изображением и текстом */
}

.container h3 {
  margin-bottom: 20px;
  font-size: 22px;
  color: #424242;
}

.container p {
  margin-bottom: 20px;
  /* задаем отступы сверху и снизу для текста */
  font-size: 20px;
  color: #424242;
}

@media screen and (max-width: 767px) {
  .column {
    flex-basis: 100%;
    margin-bottom: 40px;
  }
}


/*О компании*/
.info {
  position: relative;
  width: 100%;
  height: 800px;

}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('img/About Background.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  filter: brightness(0.5);
  /* затемнение изображения */
}

.info_content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  z-index: 1;
  /* установка индекса для слоя содержимого */
}


.info_content h2 {
  font-size: 42px;
  margin: 0px 0px 50px;
  color: white;
}

.info_content hr {
  border: 1px solid #fff;
  width: 25%;
  margin: auto;
}

.info_content p {
  font-size: 22px;
  line-height: 1.5;
  color: white;
  margin: 43px 0px 0px;
  padding: 0px 50px;
}

@media screen and (max-width: 1000px) {
  .info_content h2 {
    font-size: 32px;
    margin: 0px 0px 30px;
  }

  .info_content hr {
    border: 1px solid #fff;
    width: 15%;
    margin: auto;
  }

  .info_content p {
    font-size: 18px;
    line-height: 1.3;
    margin: 30px 0px 0px;
    padding: 0px 20px;
  }
}

@media screen and (min-width: 940px) {
  .info_content h2 {
    font-size: 42px;
    margin: 0px 0px 50px;
  }

  .info_content hr {
    border: 1px solid #fff;
    width: 25%;
    margin: auto;
  }

  .info_content p {
    font-size: 22px;
    line-height: 1.5;
    margin: 43px 0px 0px;
    padding: 0px 50px;
  }
}


/*Отзывы*/
.reviews {
  background-color: white;
  padding: 165px 0px 120px;
}

.reviews_header {
  text-align: center;
  margin-top: 50px;
}

.reviews_header h2 {
  font-size: 45px;
  margin: 0px 0px 40px;
  color: #424242;
}

.reviewers_second {
  display: none;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
}

.reviewer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 50px;
}

.reviewer p {
  font-size: 22px;
  line-height: 1.5;
  color: #424242;
  margin: 0px 0px 36px;
  padding: 0px 20px;
}

.reviewer img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  margin-top: 20px;
}

.reviewer h3 {
  font-size: 16px;
  align-items: center;
  margin: 14px 0px 5px;
  color: #424242;
}

@media (min-width: 768px) {
  .reviewers {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
  }

  .reviewers_second {
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
  }
  
  .reviewer {
    width: calc(100% / 3);
    margin-top: 0px;
  }
}

.arrows {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.arrow-left, .arrow-right {
  font-size: 50px;
  cursor: pointer;
  padding: 0 20px;
  color: #424242;
}

.arrow-left:hover, .arrow-right:hover {
  color: #ccc;
  transition: color 0.3s ease-in-out;
}


/*Контакты*/
.contacts {
  display: flex;
  flex-wrap: wrap;
  padding: 150px 0px;
  background-color: #b8bc99;
  justify-content: center;
  align-items: center;
}

.contact-info {
  flex-basis: 100%;
  max-width: 100%;
  padding: 0px 40px 0px;
  text-align: left;

}

.navigation-container {
  flex-basis: 50%;
  max-width: 50%;
  height: 300px; /* задаем высоту контейнера карты */
  padding-right: 20px;
}

@media (min-width: 768px) {
  .contact-info {
    flex-basis: 50%;
    max-width: 50%;
  }

  .map-container {
    flex-basis: 50%;
    max-width: 50%;
  }
}

.contact-info h2 {
  font-size: 28px;
  margin: 20px 0px 20px;
  color: #424242;
}

.contact-info p {
  font-size: 20px;
  margin: 20px 0px 20px;
  color: #424242;
}

.contact-info a {
  font-size: 20px;
  color: #0077be;
}


/* Стили для блока "Подвал" */
/* Основной стиль футера */
footer {
  background-color:#b8bc99;
  padding: 20px 0px 60px;
  text-align: center;
}

/* Стиль контейнера с ссылками */
.menu-container {
  display: flex;
  justify-content: center;
}

/* Стиль блока с копирайтом */
.rools {
  text-align: left;
  padding: 0px 40px;
}

.footer_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.col-md-4 {
  flex-basis: 100%;
  max-width: 100%;
  text-align: center;
  margin-bottom: 1rem;
}

.footer_menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer_menu li {
  display: inline-block;
  margin: 0 10px;
}

.rools {
  text-align: center;
  margin-top: 1rem;
}

/* Стиль копирайта */
.rools p {
  margin: 0;
  color: #424242;
}

.row a {
  color:#424242;
}

/* Медиа-запросы для адаптивности */
@media (max-width: 768px) {
  /* Стиль контейнера с ссылками для мобильных устройств */
  .footer_menu-container {
    flex-direction: column;
    align-items: center;
  }

  /* Стиль пунктов меню для мобильных устройств */
  .footer_menu li {
    margin-right: 0;
  }

  /* Стиль блока с копирайтом для мобильных устройств */
  .rools {
    text-align: center;
    margin-top: 20px;
  }
}

/*Доп страницы страница*/
.Garbage h1{
  font-size: 42px;
  text-align: center;
  color: #424242;
  padding: 100px;
}

