/*Тело сайта*/
body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  body.lock {
  overflow: hidden;
  }
  
  /*ШАПКА САЙТА*/
  /* Общие стили для header */
  header {
    display: flex;
    position: fixed;
    justify-content: space-between;
    background-color: rgba(150, 150, 150, 0.5);
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0px 40px;
    z-index: 2;
  }
  
  .logo{
    max-width: 250px;
    max-height: 76px;
    cursor: pointer;
    z-index: 3;
  }
  
  .logo img {
    width: 100%;
    max-width: 250px;
    max-height: 76px;
    cursor: pointer;
    z-index: 3;
  }
  
  .menu {
    display: none;
  }
  
  .menu.active {
    display: flex;
    position: absolute;
    top: 80px;
    right: 20px;
    background-color: #ffffff;
    padding: 10px;
    border: 1px solid #424242;
    border-radius: 5px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
  }
  
  .menu-container {
    font-size: 16px;
    color: #424242;
    align-items:center;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .menu_authorization {
    border-radius: 5px;
    background-color: #724321;
    color: #ffffff;
    cursor: pointer;
  }
  
  .menu_personal {
    border-radius: 5px;
    background-color: #724321;
    color: #ffffff;
    cursor: pointer;
  }
  
  .menu_FindMentor {
    border-radius: 5px;
    background-color: #724321;
    color: #ffffff;
    cursor: pointer;
  }
  
  .menu_Mentoring {
    border-radius: 5px;
    background-color: #724321;
    color: #ffffff;
    cursor: pointer;
  }
  
  .menu_exit {
    border-radius: 5px;
    background-color: #724321;
    color: #ffffff;
    cursor: pointer;
    width: 50%;
    height: 50%;
    text-align: center;
  }
  
  .menu-container a {
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
  }
  
  .menu-container a:hover {
    background-color: rgba(114, 73, 33, 0.5);
  }
  
  .burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 3;
  }
  
  .burger:before,
  .burger:after {
  content: '';
  background-color: #000;
  position: absolute;
  width: 100%;
  height: 2px;
  transition: transform 0.3s ease-out;
  }
  
  .burger:before {
    top: 0px;
  }
  
  .burger:after {
    bottom: 0px;
  }
  
  .burger span{
    position: absolute;
    background-color: #000;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    transition: transform 0.3s ease-out;
  }
  
  .burger.active:before {
  transform: rotate(45deg);
  top: 9px;
  }
  
  .burger.active:after {
    transform: rotate(-45deg);
    bottom: 9px;
  }
  
  .burger.active span {
    transform: scale(0);
  }
    
    /* Для экранов шириной до 768px */
    @media (max-width: 768px) {
      /* Убираем padding у header */
      header {
        padding: 0px 40px;
      }
    
      /* Уменьшаем высоту логотипа */
      .logo img {
        max-height: 40px;
      }
    
      /* Уменьшаем размер и отступы у пунктов меню */
      .menu a {
        font-size: 14px;
        padding: 5px 10px;
      }
    }
    
    /* Для экранов шириной от 768px до 1024px */
    @media (min-width: 768px) and (max-width: 1024px) {
      /* Уменьшаем высоту логотипа */
      .logo img {
        max-height: 60px;
      }
    
      /* Уменьшаем размер и отступы у пунктов меню */
      .menu a {
        font-size: 14px;
        padding: 5px 10px;
      }
    }
    
    /* Для экранов шириной от 1024px */
    @media (min-width: 1024px) {
      /* Возвращаем исходные размеры у логотипа и бургера */
      .logo img {
        max-width: 250px;
        max-height: 76px;
      }
    
      .burger {
        height: 20px;
      }
    }

/*Доп страницы страница*/


.Garbage h1 {
    font-size: 42px;
    text-align: center;
    color: #424242;
    padding: 100px;
  }



/* Стили для блока "Подвал" */
/* Основной стиль футера */
footer {
    background-color:#b8bc99;
    padding: 20px 0px 60px;
    text-align: center;
  }
  
  /* Стиль контейнера с ссылками */
  .menu-container {
    display: flex;
    justify-content: center;
  }
  
  /* Стиль блока с копирайтом */
  .rools {
    text-align: left;
    padding: 0px 40px;
  }
  
  .footer_container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .col-md-4 {
    flex-basis: 100%;
    max-width: 100%;
    text-align: center;
    margin-bottom: 1rem;
  }
  
  .footer_menu {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .footer_menu li {
    display: inline-block;
    margin: 0 10px;
  }
  
  .rools {
    text-align: center;
    margin-top: 1rem;
  }
  
  /* Стиль копирайта */
  .rools p {
    margin: 0;
    color: #424242;
  }
  
  .row a {
    color:#424242;
  }
  
  /* Медиа-запросы для адаптивности */
  @media (max-width: 768px) {
    /* Стиль контейнера с ссылками для мобильных устройств */
    .footer_menu-container {
      flex-direction: column;
      align-items: center;
    }
  
    /* Стиль пунктов меню для мобильных устройств */
    .footer_menu li {
      margin-right: 0;
    }
  
    /* Стиль блока с копирайтом для мобильных устройств */
    .rools {
      text-align: center;
      margin-top: 20px;
    }
  }
  
  