/*ШАПКА САЙТА*/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.logo {
  width: 250px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin-left: 20px;
}

nav a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

@media screen and (max-width: 600px) {
  header {
    flex-direction: column;
    align-items: flex-start;
  }

  nav {
    margin-top: 20px;
  }

  nav li {
    margin-left: 0;
    margin-bottom: 10px;
  }
}


/*ОСНОВНАЯ ЧАСТЬ САЙТА*/
.main {
  padding-top: 210px;
  padding-bottom: 165px;
  text-align: left;
  background-color: #b8bc99;
}

.main_content {
  max-width: 1200px;
  margin: 0px 70px;
  text-align: left;
}

.main_content h1 {
  font-size: 64px;
  margin-bottom: 20px;
  color: #424242;
}

.main_content p {
  font-size: 20px;
  line-height: 1.5;
  color: #424242;
  padding-top: 41px;
}

/* Медиа-запросы для адаптивности */
@media screen and (max-width: 768px) {
  .header {
      flex-wrap: wrap;
      justify-content: center;
  }
  
  .logo {
      margin-bottom: 20px;
  }
  
  nav {
      margin-top: 20px;
      text-align: center;
  }
  
  nav li {
      margin-right: 10px;
      margin-bottom: 10px;
  }
  
  .main_content h1 {
      font-size: 36px;
  }
  
  .main_content p {
      font-size: 18px;
  }
}

@media screen and (max-width: 480px) {
  .main_content h1 {
      font-size: 24px;
  }
  
  .main_content p {
      font-size: 16px;
  }
}


/*УСЛУГИ*/
.services {
  padding: 30px 0px 210px;
}

.content {
  margin: 0px 40px;
}

.content_container {
  display: flex;
  flex-wrap: wrap;
}

.content_column {
  width: 25%;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}

/* Стиль для картинки */
.content_column img {
  max-width: 100%;
  max-width: 100%;
  height: auto;
}

/* Стиль для заголовка */
.content_column h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

/* Стиль для текста */
.content_column p {
  font-size: 1rem;
  line-height: 1.5;
  word-wrap: break-word;
}

/* Стиль для кнопки */
.content_column button {
  background-color: #724321;
  color: white;
  border: none;
  padding: 10px;
  text-align: center;
  font-size: 16px;
  margin: 10px 0;
  cursor: pointer;
  border-radius: 5px;
}

/* Медиазапрос для изменения стиля элементов на экранах шириной меньше 768px */
@media screen and (max-width: 768px) {
  .content_container {
    display: flex;
    flex-wrap: wrap;
  }
  .content_column {
    width: 50%;
  }
}

button {
  color: #fff;
  background-color: #724321;
  width: 120px;
  height: 40px;
  border: #724321;
}

/*КАК ЭТО РАБОТАЕТ*/
/* Общие стили */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Стили для блока "Как это работает" */
.howitswork {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background-color: #b8bc99;
  padding: 210px 0px 150px;
  max-width: 1960px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.howitswork_column {
  flex-basis: 30%;
  margin: 0px 10px;
  text-align: center;
}

.howitswork_column img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

.howitswork_column h2 {
  font-size: 24px;
  margin-top: 20px;
}

.howitswork_column p {
  font-size: 16px;
  line-height: 1.5;
  margin-top: 10px;
}

@media (max-width: 767px) {
  .howitswork_column {
    flex-basis: 100%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .howitswork_column {
    flex-basis: 47%;
  }
}

.mentors {

}

.mentors_content {

}

.mentors_info {

}

.mentors_about {
  
}


/* Стили для блока "Подвал" */
footer {
  background-color: #b8bc99;
  color: #424242;
  padding: 40px 0;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
}

footer.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer ul li {
  margin-bottom: 10px;
}

footer ul li a {
  color: #424242;
  text-decoration: none;
  transition: all 0.3s ease;
}
ul.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

ul.menu li {
  display: inline-block;
  margin-right: 20px;
  /* необязательно, для добавления промежутков между элементами */
}

.col-md-4 {
  flex-basis: 25%;
}

.menu li {
  list-style: none;
  margin-bottom: 10px;
}

.menu li a {
  color: #424242;
  text-decoration: none;
}

.rools {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
}

/* Медиа запросы для блока "Подвал" */
@media (max-width: 767px) {
  .col-md-3 {
    flex-basis: 100%;
    margin-bottom: 20px;
  }

  .rools {
    font-size: 12px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .col-md-3 {
    flex-basis: 47%;
    margin-bottom: 20px;
  }
}