/*тело всех страниц*/
/*для бургера*/
.menu_personal {
	border-radius: 5px;
	cursor: pointer;
	text-decoration: none;
  	color: #424242;
  }
  
.menu_FindMentor {
	border-radius: 5px;
	cursor: pointer;
	text-decoration: none;
  	color: #424242;
  }

  .dropdown-item {
	border-radius: 5px;
	cursor: pointer;
  	color: #424242;
  }

  .dropdown-menu.dropdown-menu-end.show {
    font-size: 16px;
    color: #424242;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
    align-items:normal;
    display: flex;
    flex-direction: column;
  }

  .dropdown-menu.dropdown-menu-end.show a {
	color: #424242;
	text-decoration: none;
	align-items: center;
	padding: 10px;
	border-radius: 5px;
	transition: background-color 0.3s ease-in-out;
  }

  .dropdown-menu.dropdown-menu-end.show a:hover {
	background-color: rgba(73, 73, 73, 0.5);
  }


/*Дизайн для страниц логина и авторизации*/
.mt-8r{
  margin-top: 8rem!important;
  margin-bottom: 8rem;
  padding: 0!important;
}

.mt-4r{
  margin-top: 4rem!important;
  margin-bottom: 4rem;
  padding: 0!important;
}

.box {
  border-radius: 10px;
  box-shadow: 5px 20px 50px #000;
}

.btn-primary{
	background-color: #724321!important;
	--bs-btn-border-color: none!important;
}

.btn-primary:hover{
	background-color: rgba(114, 73, 33, 0.5)!important;
}

.btn-link{
	color:#424242!important;
	text-decoration: none!important;
}

.btn-link:hover{
	color: rgba(73, 73, 73, 0.5)!important;
}

.form-check-input:checked[type=checkbox]{
	background-color: #724321!important;
	border: none!important;
}



/*Дизайн для home - профиль*/
.navigation {
	display: flex;
	align-items: center;
	height: 57px;
	padding: 0 60px;
	max-width: 100%;
	justify-content: flex-start;
}

  .navigation a {
	margin: 0px 20px;
	color: #424242;
	text-decoration: none;
	display: inline-block;
    font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	cursor: pointer;
  }

  .navigation a:hover {
	color: rgba(255, 255, 255, 1);
  }

  .navigation a.selected {
	background-color: #fff;
	color: #000;
  }

  .navigation a:focus, .navigation a:active, .navigation a.active {
	color: white;
  }

  .card{
	padding: 10px;
	box-shadow: 0px 2px 2px rgb(0 0 0 / 25%);
	border-radius: 10px!important;
  }

  .card-body{
	padding: 15px!important;
  }

  .btn-dark{
	background-color: #724321!important;
	border: none!important;
  }

  .btn-dark:hover{
	background-color: rgba(114, 73, 33, 0.5)!important;
  }

  .img, svg{
	border-radius: 10px;
  }


  /*Дизайн для messages - чат*/
  /*контент*/
.message_page {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: 800px;
	margin: 0px 40px;
	padding: 80px 0px;
  }
  
  .message_page_contacts {
	background-color: #e8e8e8;
	display: flex;
	position: relative;
	flex-direction: column;
	width: 25%;
	height: auto;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
	border-radius: 10px;
	margin: 0px 20px;
  }
  
  .message_page_contacts h2 {
	margin: 0;
	text-align: center;
	color:#424242
  }
  
  .message_page_contacts .search_button {
	border: none;
	background-color: #724321;
	transition: transform 0.3s ease-out;
	border-radius: 20px;
	color: #ffffff;
	font-size: 16px;
	cursor: pointer;
  }
  
  .message_page_contacts .search_button:hover {
	  background-color: rgba(114, 73, 33, 0.5);
  }
  
  .modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
  }
  
  .modal-content {
	background-color: #fefefe;
	margin: 15% auto;
	padding: 20px;
	border: 1px solid #888;
	width: 30%;
	text-align: center;
	border-radius: 10px;
  }
  
  .close {
	color: #aaaaaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
  }
  
  .message_page_chat {
	overflow-y: scroll;
	width: 75%;
	height: auto;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
	  border-radius: 10px;
	margin: 0px 20px;
	background-color: #e8e8e8;
  }
  
  .message_page_chat_content {
	display: flex;
	flex-direction: row;
  }
  
  .message_page_chat_content_text {
	width: 75%;
	background-color: rgba(155, 218, 255, 0.1);
	border-radius: 20px;
	margin: 20px;
  }
  
  .message_page_chat_content_text h1,h2 {
	margin: 0;
	text-align: left;
	padding: 10px;
	color:#424242;
	font-size: 16px;
  }
  
  .message_page_chat_content_img {
	display: flex;
	justify-content: center;
	align-items: center; 
	width: 25%;
	margin: 0;
	align-items: right;
	background-color: rgba(155, 218, 255, 0.1);
	border-radius: 20px;
	margin: 20px;
  }
  
  .message_page_chat_content_img img {
	display: block;
	width: 75%;
  }



  /*Дизайн personal личной страницы*/
  /*Правая часть*/
  .personal_content {
	display: flex;
	justify-content: space-between;
	padding: 80px 10px 200px;
	gap: 20px;
  }
  
  .personal_content_me {
	display: flex;
	justify-content: center;
	flex: 1;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
	background-color: #fff;
	border-radius: 10px;
	background-size: cover;
	
  }

  .personal_content_me_images {
	display: flex; 
	justify-content: center; 
	align-items: center;
	margin: 0;
	background-size: cover;
  }

  .personal_content_me_images img{
	border-radius: 20px;
	max-width: 100%;
	max-height: 100%;
  }


	/*Левая часть*/
  .personal_content_requests {
	flex: 3;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
	background-color: #fff;
	border-radius: 10px;
  }

  .message{
	display: flex;
	padding: 0px 20px;
	margin: 15px 0px;
  }

  .message h1 {
	text-align: 20px;
	color: #424242;
	margin: 0px;
  }

  .request {
	display: flex;
	gap: 10px;
	align-items: center;
	background-color: #ffffff;
	padding: 0px 20px;
	margin: 15px 0px;
	}
	
	.reques_img {
		display: flex;
	}
	
	.reques_img img {
	max-width: 100%;
	height: auto;
	}
	
	.request_text {
	display: flex;
	flex-grow: 1;
	padding-left: 10px;
	}

	.request_text tbody{
		display: flex;
		flex-direction: column;
		gap: 5px;
	}

	.request_text td {
		font-size: 18px;
		color: #424242;
	}

	.request_button{
		display: flex;
	}
	
	.request_button button {
	padding: 10px 20px;
	background-color:#724321;
	border: none;
	border-radius: 30px;
	color: #ffffff;
	font-size: 16px;
	font-weight: 500;
	cursor: pointer;
	transition: background-color 0.3s ease;
	}

	.request_button button:hover {
		background-color: rgba(114, 73, 33, 0.5);
	  }

	.request_button a{
		text-decoration: none;
		color: #ffffff;
	}

	.request_button a:hover{
		color: rgba(255, 255, 255, 1);
	}

	@media screen and (max-width: 768px) {
		.personal_page_categoryes {
			flex-direction: column;
			height: auto;
		  }
		
		.personal_page_categoryes a {
			margin-right: 0;
			margin-bottom: 10px;
		  }
		}	
  
  @media screen and (max-width: 768px) {
	.personal_page_content {
	  flex-direction: column;
	}
	
	.personal_page_content_me{
	  margin-right: 0;
	  margin-bottom: 20px;
	}
	
	.personal_page_content_requests {
	  margin-bottom: 20px;
	}
  }

  /*Coursecreate.blade.php*/
  .col-md-8 {
	padding: 40px 0px 40px;
  }

  .bg-light {
	box-shadow: 0px 2px 2px rgb(0 0 0 / 25%);
	border-radius: 10px;
  }

  .form-group {
	padding: 10px 0px 10px;
  }

  .form-control_custom {
	display: block;
    width: 50%;
    padding: 0.375rem 0.75rem;
    font-size: .9rem;
    font-weight: 400;
    line-height: 1.6;
    color: #212529;
    background-color: #f8fafc;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    appearance: none;
    border-radius: 0.375rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

  .button_container{
	padding: 10px 0px 10px;
  }

   /*Courses.blade.php*/
   .price {
	display: flex;
	gap: 5px;
   }

   /*Show.blade.php*/
   .top {
	display: flex;
	justify-content: space-between;
	background-color: #ffffff;
	margin-bottom: 10px;
	gap: 20px;
   }

   .top_left {
	display: flex;
	gap: 10px;
	flex-direction: column;
	width: 65%;
	max-height: 100%;
	background-color: #e8e8e8;
	border-radius: 10px;
	padding: 10px;
   }

   .subject {
	display: flex;
	height: 30%;
   }

   .subject h1{
	margin: 0px;
   }

   .title {
	display: flex;
	height: 50%;
	height: 50%;
   }

   .title p {
	margin: 0px;
   }

   .place {
	display: flex;
	flex-direction: column;
	height: 20%;
   }

   .place p{
	margin: 0px;
   }

   .top_right {
	display: flex;
	gap: 10px;
	flex-direction: column;
	width: 35%;
	background-color: #e8e8e8;
	border-radius: 10px;
	padding: 10px;
   }

   .image{
	display: flex;
	justify-content: center;
	margin: 0px;
	height: 100%;
   }

   .image img{
	border-radius: 20px;
	max-width: 100%;
	max-height: 100%;
   }

   .Tarif {
	display: flex;
	gap: 5px;
	justify-content: center;
	padding-top: 10px;
	height: 100%;
   }

   .subscribe {
	display: flex;
	justify-content: center;
	height: 100%;
   }

   .subscribe button {
	border: none;
	background-color: #724321;
	transition: transform 0.3s ease-out;
	border-radius: 20px;
	color: #ffffff;
	padding: 5px;
   }

   .subscribe button:hover{
	background-color: rgba(114, 73, 33, 0.5);
   }

	.subscribe a{
		text-decoration: none;
		color: #ffffff;
	}

	.subscribe a:hover{
		color: rgba(255, 255, 255, 1);
	}

   .bottom{
	display: flex;
	justify-content: space-between;
	background-color: #ffffff;
	margin-top: 10px;
	margin-bottom: 10px;
	gap: 20px;
   }

   .bottom_left{
	width: 50%;
	background-color: #e8e8e8;
	border-radius: 10px;
	padding: 10px;
   }

   .experience{
	display: flex;
   }

   .experience p {
	margin: 0px;
   }

   .bottom_right {
	width: 50%;
	background-color: #e8e8e8;
	border-radius: 10px;
	padding: 10px;
   }

   .description{
	display: flex;
   }

   .description p {
	margin: 0px;
   }

   .reviews{
	display: flex;
	margin-top: 10px;
	flex-direction: column;
   }
   
   .reviews_title{
	display: flex;
	margin-bottom: 10px;
   }

   .reviews_section{
	margin-top: 10px;
	margin-bottom: 10px;
   }

   form{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 20px;
   }

   .reviews_section_right{
	width: 50%;
   }

   textarea {
	width: 100%;
	border-radius: 10px;
	border-color: #000;
	background-color: #e8e8e8;
   }

   .reviews_section_left{
	padding-top: 20px;
	width: 50%;
   }

   .reviews_section_left button{
	border: none;
	background-color: #724321;
	transition: transform 0.3s ease-out;
	border-radius: 20px;
	color: #ffffff;
	padding: 5px;
   }

   .reviews_section_left button:hover{
	background-color: rgba(114, 73, 33, 0.5);
   }

   ul{
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	list-style-type: none;
	padding: 0px!important;
   }

   .reviews-live li{
	background-color: #e8e8e8;
	border-radius: 10px;
	width: 50%;
	max-height: 100%;
	padding: 20px;
   }