body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
margin: 0;
  padding: 0;
}

/*ШАПКА САЙТА*/
/* Общие стили для header */
header {
display: flex;
justify-content: space-between;
background-color: #ffffff;
align-items: center;
top: 0;
left: 0;
padding: 0px 40px;
z-index: 2;
}

.logo{
max-width: 250px;
max-height: 76px;
cursor: pointer;
z-index: 3;
}

.logo img {
width: 100%;
max-width: 250px;
max-height: 76px;
cursor: pointer;
z-index: 3;
}

.menu {
display: none;
}

.menu.active {
display: flex;
position: absolute;
top: 80px;
right: 20px;
background-color: #ffffff;
padding: 10px;
border: 1px solid #424242;
border-radius: 5px;
box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}

.menu-container {
font-size: 16px;
color: #424242;
align-items:center;
display: flex;
flex-direction: column;
gap: 10px;
}

.menu_authorization {
border-radius: 5px;
background-color: #724321;
color: #ffffff;
cursor: pointer;
}

.menu_personal {
border-radius: 5px;
background-color: #724321;
color: #ffffff;
cursor: pointer;
}

.menu_FindMentor {
border-radius: 5px;
background-color: #724321;
color: #ffffff;
cursor: pointer;
}

.menu_Mentoring {
border-radius: 5px;
background-color: #724321;
color: #ffffff;
cursor: pointer;
}

.menu_exit {
border-radius: 5px;
background-color: #724321;
color: #ffffff;
cursor: pointer;
width: 50%;
height: 50%;
text-align: center;
}

.menu-container a {
color: #ffffff;
text-decoration: none;
font-size: 18px;
padding: 10px;
border-radius: 5px;
transition: background-color 0.3s ease-in-out;
}

.menu-container a:hover {
background-color: rgba(114, 73, 33, 0.5);
}

.burger {
display: block;
position: relative;
width: 30px;
height: 20px;
cursor: pointer;
display: flex;
flex-direction: column;
justify-content: space-between;
z-index: 3;
}

.burger:before,
.burger:after {
content: '';
background-color: #000;
position: absolute;
width: 100%;
height: 2px;
transition: transform 0.3s ease-out;
}

.burger:before {
top: 0px;
}

.burger:after {
bottom: 0px;
}

.burger span{
position: absolute;
background-color: #000;
left: 0;
width: 100%;
height: 2px;
top: 9px;
transition: transform 0.3s ease-out;
}

.burger.active:before {
transform: rotate(45deg);
top: 9px;
}

.burger.active:after {
transform: rotate(-45deg);
bottom: 9px;
}

.burger.active span {
transform: scale(0);
}

/* Для экранов шириной до 768px */
@media (max-width: 768px) {
  /* Убираем padding у header */
  header {
  padding: 0px 40px;
  }

  /* Уменьшаем высоту логотипа */
  .logo img {
  max-height: 40px;
  }

  /* Уменьшаем размер и отступы у пунктов меню */
  .menu a {
  font-size: 14px;
  padding: 5px 10px;
  }
}

/* Для экранов шириной от 768px до 1024px */
@media (min-width: 768px) and (max-width: 1024px) {
  /* Уменьшаем высоту логотипа */
  .logo img {
  max-height: 60px;
  }

  /* Уменьшаем размер и отступы у пунктов меню */
  .menu a {
  font-size: 14px;
  padding: 5px 10px;
  }
}

/* Для экранов шириной от 1024px */
@media (min-width: 1024px) {
  /* Возвращаем исходные размеры у логотипа и бургера */
  .logo img {
  max-width: 250px;
  max-height: 76px;
  }

  .burger {
  height: 20px;
  }
}


/*ОСНОВНАЯ ЧАСТЬ САЙТА*/
.main {
padding-top: 210px;
padding-bottom: 165px;
text-align: left;
background-color: #b8bc99;
}

.main_content {
max-width: 1200px;
margin: 0px 70px;
text-align: left;
}

.main_content h1 {
font-size: 64px;
margin-bottom: 20px;
color: #424242;
}

.main_content p {
font-size: 20px;
line-height: 1.5;
color: #424242;
padding-top: 41px;
}

/* Медиа-запросы для адаптивности */
@media screen and (max-width: 768px) {
.header {
  flex-wrap: wrap;
  justify-content: center;
}

.logo {
  margin-bottom: 20px;
}

nav {
  margin-top: 20px;
  text-align: center;
}

nav li {
  margin-right: 10px;
  margin-bottom: 10px;
}

.main_content h1 {
  font-size: 36px;
}

.main_content p {
  font-size: 18px;
}
}

@media screen and (max-width: 480px) {
.main_content h1 {
  font-size: 24px;
}

.main_content p {
  font-size: 16px;
}
}

/*Основной контент*/
/*шапка*/
.navigation {
display: flex;
align-items: center;
background-color: #b8bc99;
height: 57px;
padding: 0 60px;
max-width: 100%;
justify-content: flex-start;
}

.navigation a {
margin: 0px 20px;
color: #424242;
text-decoration: none;
display: inline-block;
background-color: #b8bc99;
  font-size: 14px;
font-weight: bold;
text-transform: uppercase;
cursor: pointer;
}

.navigation a:hover {
color: rgba(255, 255, 255, 1);
}

.navigation a.selected {
background-color: #fff;
color: #000;
}

/*контект*/
/*о мне*/
.personal_content {
display: flex;
justify-content: space-between;
padding: 80px 0px 200px;
margin: 0px 40px;
}

.personal_content_me {
flex: 1;
margin: 0px 20px 0px;
align-items: center;
box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
border-radius: 10px;
}

.personal_content_me img{
  max-width: 100%;
  height: auto;
}

.name {
position: relative;
  text-align: center;
}

.name input {
width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #a9a9a9;
  background-color: #f7f7f7;
  border-radius: 4px;
  box-sizing: border-box;
  color: #424242;
  width: 50%;
}

/*запросы*/
.personal_content_requests {
margin: 0px 20px 0px;
flex: 3;
box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
border-radius: 10px;
}

.message{
padding: 20px;
margin: 10px 0px;
}

.message h1 {
text-align: 20px;
color: #424242;
margin: 0px;
}

.request {
display: flex;
align-items: center;
background-color: #ffffff;
padding: 20px;
margin: 10px 0px;
}

.reques_img {
margin-right: 20px;
}

.reques_img img {
max-width: 100%;
height: auto;
margin: 0px 20px 0px 0px;
}

.request_text {
flex-grow: 1;
}

.request_text span {
font-size: 18px;
font-weight: 500;
color: #999999;
}

.request_button button {
padding: 10px 20px;
background-color:#724321;
border: none;
border-radius: 30px;
color: #ffffff;
font-size: 16px;
font-weight: 500;
cursor: pointer;
transition: background-color 0.3s ease;
}

.request_button button:hover {
  background-color: rgba(114, 73, 33, 0.5);
  }

@media screen and (max-width: 768px) {
  .personal_page_categoryes {
    flex-direction: column;
    height: auto;
    }
  
  .personal_page_categoryes a {
    margin-right: 0;
    margin-bottom: 10px;
    }
  }	

@media screen and (max-width: 768px) {
.personal_page_content {
  flex-direction: column;
}

.personal_page_content_me{
  margin-right: 0;
  margin-bottom: 20px;
}

.personal_page_content_requests {
  margin-bottom: 20px;
}
}


/* Стили для блока "Подвал" */
/* Основной стиль футера */
footer {
background-color:#b8bc99;
padding: 20px 0px 60px;
text-align: center;
}

/* Стиль контейнера с ссылками */
.menu-container {
display: flex;
justify-content: center;
}

/* Стиль блока с копирайтом */
.rools {
text-align: left;
padding: 0px 40px;
}

.footer_container {
display: flex;
flex-direction: column;
align-items: center;
}

.row {
display: flex;
flex-wrap: wrap;
justify-content: center;
}

.col-md-4 {
flex-basis: 100%;
max-width: 100%;
text-align: center;
margin-bottom: 1rem;
}

.footer_menu {
list-style: none;
padding: 0;
margin: 0;
}

.footer_menu li {
display: inline-block;
margin: 0 10px;
}

.rools {
text-align: center;
margin-top: 1rem;
}

/* Стиль копирайта */
.rools p {
margin: 0;
color: #424242;
}

.row a {
color:#424242;
}

/* Медиа-запросы для адаптивности */
@media (max-width: 768px) {
/* Стиль контейнера с ссылками для мобильных устройств */
.footer_menu-container {
  flex-direction: column;
  align-items: center;
}

/* Стиль пунктов меню для мобильных устройств */
.footer_menu li {
  margin-right: 0;
}

/* Стиль блока с копирайтом для мобильных устройств */
.rools {
  text-align: center;
  margin-top: 20px;
}
}